/*-----------------------------------
  portfolio section
  ----------------------------------- */
.portfolio-section{
    /*background-color: red;*/
    padding:80px 0 80px;
    min-height: 100vh;
}  
.portfolio-section .section-title{
    margin-bottom: 40px;
}
.portfolio-section .portfolio-filter{
    /*background-color: red;*/
    padding:0 15px ;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.portfolio-section .filter-item {
    /*border: 1px solid red;*/
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.3s ease;
}
.portfolio-section .filter-item:hover:not(.active){
    opacity: 0.6;
}
.portfolio-section .filter-item.active{
    color: var(--skin-color);
}
.portfolio-section .portfolio-item{
    flex: 33.33%; /*to keep three project in one row */
    max-width: 33.33%;
    padding:15px ;
    display: flex;
    flex-wrap: wrap;
}
/* added by js to filter*/
.portfolio-section .portfolio-item.hide{
    display: none;
}
.portfolio-section .portfolio-item.show{
    display: block;
    animation:fadeInTop 0.5s ease;
}
/*----- ends ----*/
.portfolio-section .portfolio-item-inner{
    padding:15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.portfolio-section .portfolio-item-img img{
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}
.portfolio-section .portfolio-item-img{
    position: relative;
}
.portfolio-section .portfolio-item-img .view-project{
    text-transform: capitalize;
    font-size: 16px;
    color: var(--skin-color);
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0;
}
.portfolio-section .portfolio-item-inner:hover .view-project{
    transform: translateY(0px);
    opacity: 1;
}
.portfolio-section .portfolio-item-details{
    display: none;
}
.portfolio-section .portfolio-item-inner p{
    font-size: 16px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    text-transform: capitalize;
}
.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img{
    transform: translateY(-25px);
}


/*  <!--======================
 portfolio popup start
 ================================-->*/
/*.portfolio-popup{
     background-color: var(--bg-black-50);
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index:1000 ;
     overflow-y: auto;
}
.portfolio-popup .pp-img{
     max-width: 300px;
}
.portfolio-popup .pp-main{
     min-height: 100vh;
     /*background-color: blue;
     max-width: 1350px;
     width:85% ;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
}
.portfolio-popup .pp-main-inner{
    background-color: red;
    padding: 70px 0 50px;
}
.portfolio-popup .pp-img{
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}
.portfolio-popup .pp-main-inner{
    background-color: rgb(169, 91, 214);
    padding: 70px 0 50px;position: relative;
}
/* project details btn
.portfolio-popup .pp-project-details-btn{
    position: absolute;
    left: 0;
    background-color: red;
    top: 15px;
    height:40px;
    line-height: 40px;
}
/* close btn 
.portfolio-popup .pp-close{
    position: absolute;
    right: 0;
    background-color: blue;
    height: 40px;
    width: 40px;
    top: 15px;
}*/