@media(max-width: 991px){
    .portfolio-section .portfolio-item{
        flex: 0 0 50%;
        max-width: 50%;
    }

}


@media(max-width: 767px){
    .contact-section .w-50,
    .contact-section .contact-item,
    .portfolio-section .portfolio-item,
    .about-section .skills .skill-item,
    .about-section .about-img .img-box,
    .about-section .about-info,
    .about-section .about-img,
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text{
        order: 2;
        text-align: center;
    }
    .contact-section .submit-btn{
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
    }
    .effect-1{
       left: 29%;
       bottom: 5%;
    }
    .effect-2{
        right: 29%;
    }
    .effect-3{
       margin-left: -60px;
    }
    .effect-4{
       /* left:15%; */
       left: 30%;
       top: -15%;
    }
    .effect-4-1{
        right: -12%;
        top: 40%;
    }
    .effect-5{
       right: 4%;
    }
    .about-section .about-img{
        padding-bottom: 30px;
    }
    .about-section .timeline .timeline-item:nth-child(odd){
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }
    .about-section .timeline .timeline-item:nth-child(even){
        padding-left: 15px;
        padding-left: 75px;
    }
    .about-section .timeline:before{
        left: 35px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon{
        right: auto;
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon{
        left: -60px;
    }
    .about-section .timeline .timeline-item{
        margin-bottom: 40px;
    }
    .about-section .timeline .timeline-item:last-child{
        margin-bottom: 0px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
        left:-30px ;
        right: auto;
    }
}
@media(max-width: 574px){
    .home-section .home-img .img-box{
        max-width: 260px;
    }
    /* .style-switcher.day-night .s-icon{
        margin-left: 50px;
        padding-left: 20px;
    } */
    .effect-1{
        left: 50%;
        bottom:4%;
     }
     .effect-2{
         right: 47%;
         bottom:4%;
     }
     .effect-3{
        margin-left: -70px;
     }
     .effect-4{
        /* left:15%; */
        left: 20%;
        top: -18%;
     }
     .effect-4-1{
         right: -12%;
         top: 40%;
     }
     .effect-5{
        right: 4%;
     }
}